@import '../../../sass/variables';

.grid {
	opacity: 1;
	transform: translate(0, 0rem);
}

.in_view {
	opacity: 1;
	transform: translate(0, 0);
}
.out_of_view {
	opacity: 0;
	transform: translate(0, 5rem);
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	justify-items: center;
	align-content: center;
	gap: 2rem;
	width: 100%;
	transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
	& .col {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 100%);
		justify-items: center;
		margin: 2rem 0;

		& .col_grid {
			display: grid;
			grid-template-columns: repeat(2, auto);
			gap: 2rem;
			background: linear-gradient(65deg, lighten($brand-main, 5%), $brand-main, $brand-secondary);
			width: 100%;
			padding: 4rem;
			& .inner_left {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				width: 40vw;
				& h3 {
					color: #fff;
					font-size: 3vw;
					&::after {
						content: '';
						width: 50%;
						height: 3px;
						display: block;
						margin-top: 1rem;
						background: lighten($brand-main, 10%);
					}
				}

				& p {
					color: #fff;
					font-size: 1.7vw;
					font-weight: 200;
				}
			}
			& .inner_right {
				overflow: visible;
				background: transparent;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				flex: 1;
				height: 100%;
				min-width: 40vw;
				& img {
					width: 100%;
					transition: all 1.2s cubic-bezier(0.86, 0, 0.07, 1);
				}
			}

			& .inner__img__grid {
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: repeat(2, auto);
				width: 40vw;
				& img {
					width: 100%;
					grid-row: 1;
					grid-column: 1;
				}

				& .grid__inner {
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					grid-template-rows: repeat(3, auto);
					row-gap: 1rem;
					transition: all 1.2s cubic-bezier(0.86, 0, 0.07, 1);
					& .img_container {
						position: relative;
						max-width: 100%;
						z-index: 1;
						&:before {
							content: 'View';
							color: #fff;
							font-size: 2vw;
							position: absolute;
							height: 100%;
							width: 50%;
							background: rgba(64, 0, 130, 0.7);
							opacity: 0;
							display: flex;
							flex-direction: row;
							justify-content: center;
							align-items: center;
							transition: all 0.1s ease-in-out;
							z-index: 0;
						}
						&:hover {
							cursor: pointer;
						}
						&:hover:before {
							opacity: 1;
							height: 100%;
							width: 100%;
							z-index: 3;
						}
						&:hover img {
							cursor: pointer;
						}
						& img {
							z-index: 2;
							max-width: calc(100% * 33);
							transition: all 0.3s ease-in-out;
						}
					}
					& .current_img {
						opacity: 0;
						// animation: fadein 1s linear forwards;
					}
					& img:nth-child(1) {
						grid-row: 1;
						grid-column: 1;
						grid-column-start: 1;
						grid-column-end: 4;
					}
					& .img_container:nth-child(2) {
						grid-row: 2;
						grid-column: 1;
					}
					& .img_container:nth-child(3) {
						grid-row: 2;
						grid-column: 2;
					}
					& .img_container:nth-child(4) {
						grid-row: 2;
						grid-column: 3;
					}
					& .img_container_transition:nth-child(2) {
						animation: fadein 0.2s linear forwards;
					}
					& .img_container_transition:nth-child(3) {
						animation: fadein 0.6s linear forwards;
					}
					& .img_container_transition:nth-child(4) {
						animation: fadein 1s linear forwards;
					}
				}
				& .currentindex__marker {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					& span {
						border-radius: 50%;
						height: 0.5rem;
						width: 0.5rem;
						display: block;
						border: 2px solid $brand-main;
						transition: all 0.1s ease-in-out;
						margin: 0 0.2rem;
					}
					& .active__span {
						background: $brand-main;
						height: 0.7rem;
						width: 0.7rem;
						transition: all 0.1s ease-in-out;
					}
				}
			}
		}
	}
}

.grid:nth-of-type(4) {
	& .col {
		& .col_grid {
			& .inner_right {
				& .icons_grid {
					max-width: 40vw;
					overflow: hidden;
					position: relative;
					& .ends {
						position: absolute;
						z-index: 4;
					}
					& .ends:nth-child(1) {
						display: flex;
						top: 0;
						left: 0;
						height: 100%;
						width: 5rem;
						background: linear-gradient(90deg, $brand-main, transparent);
						opacity: 0.7;
					}
					& .ends:nth-child(3) {
						display: flex;
						top: 0;
						right: 0%;
						height: 100%;
						width: 5rem;
						background: linear-gradient(90deg, transparent, #741849);
						opacity: 0.7;
						z-index: 5;
					}
					& .icons {
						display: flex;
						animation: infiniteCycle 30s linear infinite;
						width: 40vw;
						& span {
							font-size: 4rem;
							color: #fff;
							font-weight: 900;
							margin: 2rem;
							display: flex;
							align-items: center;
							& svg {
								color: $brand-accent;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.grid {
		& .col {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2fr, 100%);
			justify-items: center;
			margin: 2rem 0;
			& .col_grid {
				display: grid;
				grid-template-columns: 1fr;
				justify-items: center;
				padding: 2rem;
				& .inner_left {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;
					width: 80vw;
					& h3 {
						color: #fff;
						font-size: 4vw;
						&::after {
							content: '';
							width: 50%;
							height: 3px;
							display: block;
							margin-top: 1rem;
							background: lighten($brand-main, 10%);
						}
					}
					& p {
						color: #fff;
						font-size: 2.3vw;
					}
				}
				& .inner_right {
					overflow: hidden;
					background: transparent;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					flex: 1;
					height: 100%;
					width: 80vw;
					& img {
						width: 100%;
					}
					& svg {
						width: 10vw;
						height: 10vh;
						color: #fff;
						position: relative;
					}
				}

				& .inner__img__grid {
					width: 80vw;
				}
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.grid {
		& .col {
			& .col_grid {
				& .inner_left {
					& h3 {
						font-size: 6vw;
					}
					& p {
						color: #fff;
						font-size: 4.3vw;
						line-height: 1.5;
					}
				}
				& .inner_right {
					& svg {
						width: 13vw;
					}
				}
			}
			& .col_grid:nth-child(1) {
				& .inner_right {
					justify-content: center;
				}
			}
		}
	}
	.grid:nth-of-type(4) {
		& .col {
			& .col_grid {
				& .inner_right {
					& .icons_grid {
						max-width: 80vw;
						overflow: hidden;
						position: relative;
						& .ends {
							position: absolute;
							z-index: 4;
						}
						& .ends:nth-child(1) {
							display: flex;
							top: 0;
							left: 0;
							height: 100%;
							width: 5rem;
							background: linear-gradient(90deg, #4c0693, transparent);
							opacity: 0.7;
						}
						& .ends:nth-child(3) {
							display: flex;
							top: 0;
							right: 0%;
							height: 100%;
							width: 5rem;
							background: linear-gradient(90deg, transparent, #590e64);
							opacity: 0.7;
							z-index: 5;
						}
						& .icons {
							display: flex;
							animation: infiniteCycle 30s linear infinite;
							width: 80vw;
							& span {
								font-size: 2.5rem;
								color: #fff;
								font-weight: 900;
								margin: 2rem;
								display: flex;
								align-items: center;
								& svg {
									color: $brand-accent;
								}
							}
						}
					}
				}
			}
		}
	}
}

@keyframes infiniteCycle {
	100% {
		transform: translateX(-263.77%);
	}
}
