@import '../../../sass/variables';

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  animation: fadein 1.5s linear forwards;
  animation-delay: 2s;
  opacity: 0;
  & svg {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 0;
  }
  & .heading {
    z-index: 2;
    margin-top: 30vh;
    & h2 {
      color: #fff;
      font-size: 4vw;
    }
  }
  & .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-content: center;
    gap: 2rem;
    margin-top: 2rem;
    z-index: 2;
    width: 100%;
    & .col {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2fr, 100%);
      justify-items: center;
      margin: 2rem 0;
      & .col_grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 2rem;
        background: linear-gradient(
          125deg,
          $brand-main 50%,
          darken($brand-main, 3%) -50%
        );
        width: 100%;
        padding: 4rem;
        & .inner_left {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          width: 40vw;
          & h3 {
            color: #fff;
            font-size: 3vw;
            &::after {
              content: '';
              width: 50%;
              height: 3px;
              display: block;
              margin-top: 1rem;
              background: lighten($brand-main, 10%);
            }
          }
          & p {
            color: #fff;
            font-size: 1.7vw;
          }
        }
        & .inner_right {
          overflow: hidden;
          background: transparent;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex: 1;
          height: 100%;
          width: 40vw;
          & img {
            width: 100%;
          }
          & svg {
            height: 20vh;
            color: #fff;
            position: relative;
          }
        }

        & .inner__img__grid {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(2, auto);
          width: 40vw;
          & img {
            width: 100%;
            grid-row: 1;
            grid-column: 1;
          }

          & .grid__inner {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, auto);
            row-gap: 1rem;
            & .img_container {
              position: relative;
              max-width: 100%;
              z-index: 1;
              &:before {
                content: 'View';
                color: #fff;
                font-size: 2vw;
                position: absolute;
                height: 100%;
                width: 50%;
                background: rgba(64, 0, 130, 0.7);
                opacity: 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                transition: all 0.1s ease-in-out;
                z-index: 0;
              }
              &:hover {
                cursor: pointer;
              }
              &:hover:before {
                opacity: 1;
                height: 100%;
                width: 100%;
                z-index: 3;
              }
              &:hover img {
                cursor: pointer;
              }
              & img {
                z-index: 2;
                max-width: calc(100% * 33%);
                transition: all 0.3s ease-in-out;
              }
            }
            & .current_img {
              opacity: 0;
              animation: fadein 1s linear forwards;
            }
            & img:nth-child(1) {
              grid-row: 1;
              grid-column: 1;
              grid-column-start: 1;
              grid-column-end: 4;
            }
            & .img_container:nth-child(2) {
              grid-row: 2;
              grid-column: 1;
            }
            & .img_container:nth-child(3) {
              grid-row: 2;
              grid-column: 2;
            }
            & .img_container:nth-child(4) {
              grid-row: 2;
              grid-column: 3;
            }
            & .img_container_transition:nth-child(2) {
              animation: fadein 0.2s linear forwards;
            }
            & .img_container_transition:nth-child(3) {
              animation: fadein 0.6s linear forwards;
            }
            & .img_container_transition:nth-child(4) {
              animation: fadein 1s linear forwards;
            }
          }
          & .currentindex__marker {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            & span {
              border-radius: 50%;
              height: 0.5rem;
              width: 0.5rem;
              display: block;
              border: 2px solid $brand-main;
              transition: all 0.1s ease-in-out;
              margin: 0 0.2rem;
            }
            & .active__span {
              background: $brand-main;
              height: 0.7rem;
              width: 0.7rem;
              transition: all 0.1s ease-in-out;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .section {
    & .heading {
      z-index: 2;
      & h2 {
        color: #fff;
        font-size: 8vw;
        text-align: center;
      }
    }
    & .grid {
      & .col {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2fr, 100%);
        justify-items: center;
        margin: 2rem 0;
        & .col_grid {
          display: grid;
          grid-template-columns: 1fr;
          justify-items: center;
          padding: 2rem;
          & .inner_left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 80vw;
            & h3 {
              color: #fff;
              font-size: 6vw;
              &::after {
                content: '';
                width: 50%;
                height: 3px;
                display: block;
                margin-top: 1rem;
                background: lighten($brand-main, 10%);
              }
            }
            & p {
              color: #fff;
              font-size: 2.5vw;
            }
          }
          & .inner_right {
            overflow: hidden;
            background: transparent;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex: 1;
            height: 100%;
            width: 80vw;
            & img {
              width: 100%;
            }
            & svg {
              height: 10vh;
              color: #fff;
              position: relative;
            }
          }

          & .inner__img__grid {
            width: 80vw;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .section {
    & .grid {
      & .col {
        & .col_grid {
          & .inner_left {
            & p {
              color: #fff;
              font-size: 3.5vw;
            }
          }
        }
      }
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateX(-20vw);
  }
  50% {
    opacity: 0.9;
    transform: translateX(5vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
