@import '../../../../sass/variables';

//handle transition on scroll
.out_of_view {
	opacity: 0;
	transform: translate(0, 5rem);
}
.in_view {
	opacity: 1;
	transform: translate(0, 0);
}
////////////////////////////////

.section {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	margin-top: 5rem;
	& .heading {
		z-index: 2;
		& h2 {
			color: #fff;
			font-size: 4vw;
			transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
		}
	}
}
@media screen and (max-width: 1000px) {
	.section {
		margin-top: 5rem;
		& .heading {
			z-index: 2;
			& h2 {
				color: #fff;
				font-size: 4vw;
				text-align: center;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.section {
		& .heading {
			& h2 {
				font-size: 8vw;
			}
		}
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes animgrid {
	0% {
		transform: translate(0, 5rem);
		opacity: 0;
	}
	100% {
		transform: translate(0, 0rem);
		opacity: 1;
	}
}
@keyframes slidein {
	0% {
		opacity: 0;
		transform: translateX(-20vw);
	}
	50% {
		opacity: 0.9;
		transform: translateX(5vw);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
