@import '../../../../sass/variables';

.section_container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: -10rem 0;
	position: relative;
	overflow: visible;
	& .top_svg {
		width: 100%;
		opacity: 1;
		transform: translate(0, 0);
		transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	}
	& .bottom_svg {
		width: 100%;
		opacity: 1;
		transform: translate(0, 0);
		transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	}
	& .section {
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow: hidden;
		width: 100%;
		background: lighten($brand-bg, 5%);
		opacity: 1;
		transform: translate(0, 0);
		transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
		& .heading {
			z-index: 2;
			& h2 {
				color: #fff;
				font-size: 4vw;
			}
		}
		& .container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 2rem;
			width: 90%;
			align-items: center;
			justify-items: center;
			z-index: 2;
		}
	}
	& .section_out_of_view,
	& .out_of_view {
		transform: translate(0, 10vh);
		opacity: 0;
	}
}

@media screen and (max-width: 1000px) {
	.section_container {
		margin: -5rem 0;
		& .section {
			& .heading {
				z-index: 2;
				& h2 {
					color: #fff;
					font-size: 4vw;
					text-align: center;
				}
			}
			& .container {
				display: grid;
				grid-template-columns: 1fr;
				gap: 8rem;
				width: 90%;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.section_container {
		margin: 0;
		&.section {
			& .heading {
				& h2 {
					font-size: 8vw;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.section_container {
		& .section {
			& .heading {
				& h2 {
					font-size: 8vw;
				}
			}
			& .container {
				display: grid;
				grid-template-columns: 1fr;
				gap: 6rem;
				width: 90%;
			}
		}
	}
}
@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slidein {
	0% {
		opacity: 0;
		transform: translateX(-20vw);
	}
	50% {
		opacity: 0.9;
		transform: translateX(5vw);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
