@import '../../../sass/variables';

.out_of_view {
	opacity: 0;
	transform: translate(0, 5rem);
}
.in_view {
	opacity: 1;
	transform: translate(0, 0);
}
.section {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, auto);
	overflow: hidden;
	justify-items: center;
	align-content: center;
	margin: 5rem 0;
	background: linear-gradient(65deg, lighten($brand-main, 5%), $brand-main, $brand-secondary);
	padding: 4rem 0;
	min-height: 40vh;
	& .heading {
		z-index: 2;
		& h2 {
			color: #fff;
			font-size: 4vw;
			transition: all 1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
		}
	}

	& .img_container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		top: -2%;
		left: -2%;
		overflow: hidden;
		width: 102%;
		height: 100vh;
		z-index: 1;
		overflow: hidden;
		opacity: 1;
		& img {
			position: absolute;
			top: 0;
			left: 0;
			transition: all 1s ease-in-out;
			height: 100%;
			width: 100%;
		}
		& .hidden {
			opacity: 0;
		}
		& .current_img {
			visibility: visible;
			opacity: 1;
		}
	}
}
@media screen and (max-width: 1200px) {
	.section {
		min-height: 30vh;
		& .heading {
			& h2 {
				color: #fff;
				font-size: 6vw;
				text-align: center;
			}
		}
	}
}
@media screen and (max-width: 900px) {
	.section {
		min-height: 20vh;
		max-height: 20vh;
		& .heading {
			& h2 {
				color: #fff;
				font-size: 4vw;
				text-align: center;
			}
		}
		& .img_container {
			height: 70vh;
		}
	}
}
@media screen and (max-width: 600px) {
	.section {
		min-height: 12vh;
		max-height: 13vh;
		& .heading {
			& h2 {
				color: #fff;
				font-size: 5vw;
			}
		}
		& .img_container {
			height: 40vh;
		}
	}
}
