@import '../../../sass/variables';

.out_of_view {
	opacity: 0;
	transform: translate(0, 5rem);
}
.in_view {
	opacity: 1;
	transform: translate(0, 0);
}
.section {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, auto);
	overflow: hidden;
	justify-items: center;
	align-content: center;
	margin: 5rem 0;
	background: linear-gradient(65deg, lighten($brand-main, 5%), $brand-main, $brand-secondary);
	padding: 4rem 0;
	transition: all 1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
	& .heading {
		z-index: 2;
		& h2,
		& .out_of_view {
			color: #fff;
			font-size: 4vw;
			transition: all 1.2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
		}
	}

	& .img_container {
		max-width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		overflow: hidden;
		background: $brand-main;
		box-shadow: 0 15px 15px darken($brand-main, 10%);
		width: 75rem;
		height: 40rem;
		z-index: 2;
		box-shadow: 0 1px 40px darken($brand-main, 15%);
		border-radius: 10px;
		border: 5px solid $brand-bg;
		overflow: hidden;
		transition: all 1.2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
		& img {
			position: absolute;
			top: 0;
			left: 0;
			transition: all 1s ease-in-out;
			height: 100%;
			width: 100%;
		}
		& .hidden {
			opacity: 0;
		}
		& .current_img {
			visibility: visible;
			opacity: 1;
		}
		& .index_marker {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 3rem;
			background: lighten(rgba(56, 0, 112, 0), 5%);
			position: absolute;
			bottom: 0;
			left: 0;
			& .marker {
				margin: 0 1rem;
				height: 0.2rem;
				width: 3rem;
				display: block;
				background: transparent;
				border: 2px solid rgba(255, 255, 255, 0.459);
				transform: scale(1);
				transition: all 1s ease-in-out;
				border-radius: 5px;
			}
			& .marker_current {
				margin: 0 1rem;
				height: 0.2rem;
				width: 3rem;
				display: block;
				background: rgba(255, 255, 255, 0.705);
				transform: scale(1.05);
				border-radius: 5px;
				border: 2px solid rgba(255, 255, 255, 0.705);
			}
		}
	}
}
@media screen and (max-width: 1200px) {
	.section {
		& .heading {
			& h2 {
				color: #fff;
				font-size: 8vw;
				text-align: center;
			}
		}
		& .img_container {
			width: 50rem;
			height: 30rem;
		}
	}
}
@media screen and (max-width: 900px) {
	.section {
		& .heading {
			& h2 {
				color: #fff;
				font-size: 8vw;
				text-align: center;
			}
		}
		& .img_container {
			width: 38rem;
			height: 25rem;
		}
	}
}
@media screen and (max-width: 600px) {
	.section {
		& .heading {
			& h2 {
				color: #fff;
				font-size: 6vw;
			}
		}
		& .img_container {
			width: 30rem;
			height: 20rem;
		}
	}
}
