@import '../../../sass/variables';
.in_view {
	opacity: 1;
	transform: translate(0, 0);
}

.out_of_view {
	opacity: 0;
	transform: translate(0, 5rem);
}

.about_column {
	transition: all 1.4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
	& .col {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		& img {
			width: 10vw;
			border-radius: 50%;
		}
		& p {
			color: #fff;
			max-width: 32vw;
			font-size: 1.4vw;
			line-height: 2;
		}
	}
}

@media screen and (max-width: 900px) {
	.about_column {
		margin: 10vh 0;
		& .col {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			& img {
				width: 40vw;
				border-radius: 50%;
				margin-bottom: 5vh;
			}
			& p {
				color: #fff;
				max-width: 80vw;
				font-size: 4vw;
				line-height: 2;
			}
		}
	}
}
