.in_view {
	opacity: 1;
	transform: translate(0, 0);
}

.out_of_view {
	opacity: 0;
	transform: translate(0, 5rem);
}

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4rem 0;
	& .heading {
		margin: 2rem 0;
		& h2 {
			font-size: 4vw;
			transition: all 1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
		}
	}
	& .grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
		align-content: center;
		gap: 4rem;
	}
}

@media screen and (max-width: 900px) {
	.section {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		min-height: 100vh;
		margin: 2vh 0;
		& .heading {
			margin: 1rem 0;
			& h2 {
				font-size: 8vw;
				text-align: center;
			}
		}
		& .grid {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
		}
	}
}
