.section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	align-content: center;
	padding: 4rem 0;
}

@media screen and (max-width: 900px) {
	.section {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		min-height: 100vh;
		margin: 2vh 0;
	}
}
