@import '../../../sass/variables';
.form {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, auto);
	gap: 2rem;
	width: 100%;
	position: relative;
	& .row {
		width: 100%;
		display: flex;
		flex-direction: column;
		& label {
			color: #fff;
			margin: 0.5rem 0;
		}
		& input {
			background: transparent;
			color: #fff;
			border: 0;
			border-bottom: 3px solid $brand-main;
			padding: 0.5rem 1rem;
			font-size: 16px;
			&:focus {
				outline: 0px solid $brand-main;
			}
		}
		& textarea {
			background: transparent;
			color: #fff;
			border: 3px solid $brand-main;
			height: 10rem;
			padding: 0.5rem 1rem;
			font-size: 16px;
			&:focus {
				outline: 0px solid $brand-main;
			}
		}
	}
	& button {
		height: 3.5rem;
		background: lighten($brand-main, 10%);
		background-position: 0px 0;
		color: #fff;
		font-size: 1vw;
		width: 15rem;
		border-radius: 150px;
		border: 0px solid transparent;
		transition: all 0.3s ease-in-out;
		text-transform: uppercase;
		letter-spacing: 2px;
		justify-self: flex-end;
		box-shadow: 0 2px 25px lighten($brand-main, 15%);
		&:hover {
			cursor: pointer;
			background: lighten($brand-main, 5%);
			box-shadow: 0 2px 35px lighten($brand-main, 10%);
			background-position: -100px 00px;
			transform: scale(1.01);
		}
	}
}

@media screen and (max-width: 900px) {
	.form {
		width: 80%;
		& button {
			font-size: 3.2vw;
		}
	}
}
