@import '../../../sass/variables';
@font-face {
  font-family: 'Space';
  src: url('../../fonts/Potra.ttf') format('truetype');
}
header {
  background-color: #000;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNjAwJyBoZWlnaHQ9JzYwMCcgdmlld0JveD0nMCAwIDE1MCAxNTAnPgo8ZmlsdGVyIGlkPSdpJyB4PScwJyB5PScwJz4KCTxmZUNvbG9yTWF0cml4IHR5cGU9J21hdHJpeCcgdmFsdWVzPScxIDAgMCAwIDAgIDAgMSAwIDAgMCAgMCAwIDEgMCAwICAwIDAgMCAwIDAnIC8+CjwvZmlsdGVyPgo8ZmlsdGVyIGlkPSduJyB4PScwJyB5PScwJz4KCTxmZVR1cmJ1bGVuY2UgdHlwZT0ndHVyYnVsZW5jZScgYmFzZUZyZXF1ZW5jeT0nLjcnIHJlc3VsdD0nZnV6eicgbnVtT2N0YXZlcz0nMicgc3RpdGNoVGlsZXM9J3N0aXRjaCcvPgoJPGZlQ29tcG9zaXRlIGluPSdTb3VyY2VHcmFwaGljJyBpbjI9J2Z1enonIG9wZXJhdG9yPSdhcml0aG1ldGljJyBrMT0nMCcgazI9JzEnIGszPSctMTYwJyBrND0nLjAxJyAvPgo8L2ZpbHRlcj4KPHJlY3Qgd2lkdGg9JzEwMiUnIGhlaWdodD0nMTAyJScgZmlsbD0nIzAwMCcvPgo8cmVjdCB4PSctMSUnIHk9Jy0xJScgd2lkdGg9JzEwMiUnIGhlaWdodD0nMTAyJScgZmlsbD0nI2ZmZicgZmlsdGVyPSd1cmwoI24pJyBvcGFjaXR5PScxJy8+CjxyZWN0IHg9Jy0xJScgeT0nLTElJyB3aWR0aD0nMTAyJScgaGVpZ2h0PScxMDIlJyBmaWxsPScjMDAwJyBmaWx0ZXI9J3VybCgjaSknIG9wYWNpdHk9JzEnLz4KPC9zdmc+);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  & .bg_svg {
    z-index: 1;
    fill: $brand-main;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    transform: translate(0%, -45%);
    opacity: 0;
    animation: fadein 2.2s linear forwards;
    animation-delay: 2.5s;
  }
  & .bg_svg_2 {
    z-index: 0;
    fill: $brand-accent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    transform: translate(0%, -39%);
    opacity: 0;
    animation: fadein 2s linear forwards;
    animation-delay: 2.5s;
  }
}
.header {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 99;
  padding: 0;
  z-index: 20;
  margin-top: 8rem;
  & .text__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    position: relative;
    opacity: 0;
    animation: fadeintextbox 1.5s linear forwards;
    animation-delay: 1s;
    z-index: 1;

    & .inner {
      & h1 {
        color: #fff;
        font-size: 5vw;
        font-family: 'Space';
        &::after {
          content: '';
          width: 30vw;
          height: 3px;
          display: block;
          margin-top: 1rem;
          border-bottom: 5px solid lighten($brand-main, 23%);
        }
      }
    }
  }
  & .services {
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: fadein 1.5s linear forwards;
    animation-delay: 2s;
    & .text {
      & p {
        color: #eee;
        font-size: 2vw;
        margin: 1rem 0rem;
      }
    }
    & .actions {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      & button {
        color: #fff;
        font-size: 1.2vw;
        width: 15vw;
        height: 3.5rem;
        font-weight: 100;
        background: $brand-main;
        box-shadow: 0 2px 2px darken($brand-main, 2%);
        border: 0px solid $brand-main;
        transition: all 0.3s ease-in-out;
        position: relative;
        text-transform: uppercase;
        font-family: 'Fira Sans';
        z-index: 1;
        &:hover {
          cursor: pointer;
          color: #fff;
          box-shadow: 0 5px 5px darken($brand-main, 5%);
          background: darken($brand-main, 5%);
        }
        &:hover:after {
          top: 0;
          left: 0;
        }
        &:focus {
          outline: 0px solid transparent;
        }
        &:active {
          transform: scale(1);
          animation: pop-btn 0.2s linear forwards;
        }
      }
    }
  }
}
@media screen and (max-width: 1350px) {
  header {
    & .bg_svg {
      transform: translate(0%, -30%);
    }
    & .bg_svg_2 {
      transform: translate(0%, -25%);
    }
  }
}

@media screen and (max-width: 1151px) {
  header {
    min-height: 60vh;
  }
  .header {
    & .text__box {
      & .inner {
        & .services {
          & button {
            color: #fff;
            font-size: 2vw;
            width: 20vw;
            font-weight: 500;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  header {
    overflow: hidden;
    background: #000;
    min-height: 100vh;
    & .bg_svg {
      transform: translate(0%, -15%);
    }
    & .bg_svg_2 {
      transform: translate(0%, -9%);
    }
  }
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    justify-items: flex-start;
    align-items: flex-start;
    position: relative;
    padding-top: 0rem;
    margin: 8rem 0;
    & .text__box {
      justify-content: flex-start;
      align-items: center;
      position: relative;
      padding: 1rem 0;
      & .inner {
        & h1 {
          font-size: 10vw;
          &::after {
            width: 90%;
          }
        }
      }
    }
    & .services {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, auto);
      gap: 1rem;
      width: 100%;
      justify-items: center;
      & .text {
        & p {
          color: #eee;
          font-size: 5vw;
          margin: 1rem 0rem;
        }
      }
      & .actions {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 0.5rem;
        justify-items: center;
        & button {
          color: #fff;
          font-size: 3vw;
          width: 35vw;
          height: 3.5rem;
          font-weight: 500;
          min-height: 0;
          &:after {
            top: 0.4rem;
            left: 0.4rem;
            transition: all 0.2s ease-in-out;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  header {
    overflow: hidden;
    background: #000;
    min-height: 100vh;
    & .bg_svg {
      & svg {
        height: 100%;
        fill: $brand-main;
      }
    }
    & .bg_svg_2 {
      transform: translate(0%, 0%);
    }
  }
  .header {
    margin: 10rem 0;
    & .text__box {
      & .inner {
        & h1 {
          font-size: 12vw;
          &::after {
            width: 100%;
          }
        }
        & p {
          color: #eee;
          font-size: 6vw;
        }
        & .services {
          & button {
            color: #fff;
            font-size: 3vw;
            width: 35vw;
            height: 3.2rem;
            font-weight: 500;
            min-height: 0;
            &:after {
              top: 0.4rem;
              left: 0.4rem;
              transition: all 0.2s ease-in-out;
            }
          }
        }
      }
    }
    & .bg_svg {
      visibility: hidden;
    }
    & .svg__container {
      width: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: relative;
      visibility: hidden;
      & svg:nth-child(1) {
        width: 40%;
        height: 100%;
      }
    }
  }
}

@keyframes pop-btn {
  0% {
    transform: scale(0.9);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes openinganim {
  0% {
    transform: scale(2) translate(-20vw, 0);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}
@keyframes fadeintextbox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
