@import url("https://fonts.googleapis.com/css?family=Exo+2|Fira+Sans|Spectral&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans'; }

html {
  height: 100%; }

body {
  overflow-x: hidden; }

main {
  display: flex;
  flex-direction: column;
  background: #112; }

input,
textarea,
label,
p {
  font-family: 'Fira Sans'; }

h1 {
  font-family: 'Exo 2';
  font-weight: 700; }

h2 {
  color: #fff; }

p {
  line-height: 1.5; }
