@import '../../../../sass/variables';

.section {
	min-height: 100vh;
	max-width: 100%;
	overflow: visible;
	align-items: center;
	display: flex;
	flex-direction: column;
	& .heading {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		& p {
			color: lighten($brand-main, 25%);
			font-size: 2rem;
			& span {
				color: $brand-accent;
				font-weight: 700;
			}
		}
		& button {
			min-height: 3rem;
			min-width: 12rem;
			border: 0;
			background: linear-gradient(65deg, $brand-main, $brand-secondary);

			color: #fff;
			text-transform: uppercase;
			border-radius: 100px;
			transition: all 0.4s ease-in-out;
			& svg {
				font-size: 2rem;
			}
			&:hover {
				cursor: pointer;
				box-shadow: 0 1px 15px darken($brand-main, 5%);
			}
			&:focus {
				outline: 1px solid transparent;
			}
			&:active {
				animation: pop-btn 0.3s linear forwards;
			}
		}
	}
	& .work__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, auto);
		justify-items: center;
		align-items: center;
		gap: 0rem;
		max-width: 90%;
		overflow: visible;
		perspective: 5000px;
		& a {
			text-decoration: none;
			width: 100%;
			height: 100%;
			display: flex;
		}

		& .item {
			position: relative;
			padding: 0;
			margin: 0;
			overflow: visible;
			transition: all 0.3s ease-in-out;
			& img {
				width: 100%;
			}
			&:hover {
				box-shadow: inset 0 1px 105px $brand-main;
				cursor: pointer;
				transform: translateZ(0) rotateX(-20deg);
			}
			&:before {
				content: 'View Site';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #fff;
				background: rgba(64, 0, 130, 0.6);
				opacity: 0;
				transition: all 0.3s ease-in-out;
			}
			&:hover:before {
				opacity: 1;
				font-size: 3vw;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.section {
		& .heading {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			& p {
				color: lighten($brand-main, 25%);
				font-size: 2rem;
				& span {
					color: $brand-accent;
					font-weight: 700;
				}
			}
			& button {
				display: none;
				visibility: hidden;
			}
		}
		& .work__grid {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			gap: 2rem;
			& .item {
				max-width: 80vw;
			}
		}
	}
}
@keyframes pop-btn {
	0% {
		transform: scale(0.9);
	}
	90% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
