.section {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	& .heading {
		z-index: 2;
		margin-top: 10vh;
		& h2 {
			color: #fff;
			font-size: 4vw;
		}
	}
}

@media screen and (max-width: 900px) {
	.section {
		& .heading {
			& h2 {
				color: #fff;
				font-size: 8vw;
			}
		}
	}
}
