@import '../../../../sass/variables';
.out_of_view {
	transform: translate(0, 5rem);
	opacity: 0;
}
.section {
	min-height: 100vh;
	max-width: 100%;
	overflow: visible;
	align-items: center;
	display: flex;
	flex-direction: column;
	& .heading {
		transform: translate(0, 0);
		transition: all 1.2s cubic-bezier(0.86, 0, 0.07, 1);
	}
	& .heading,
	& .out_of_view {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		& p {
			color: lighten($brand-main, 25%);
			font-size: 2rem;
			& span {
				color: $brand-accent;
				font-weight: 700;
			}
		}
		& button {
			min-height: 3rem;
			min-width: 12rem;
			border: 0;
			background: linear-gradient(65deg, $brand-main, $brand-secondary);
			color: #fff;
			text-transform: uppercase;
			border-radius: 100px;
			transition: all 0.4s ease-in-out;
			& svg {
				font-size: 2rem;
			}
			&:hover {
				cursor: pointer;
				box-shadow: 0 1px 15px darken($brand-main, 5%);
			}
			&:focus {
				outline: 1px solid transparent;
			}
			&:active {
				animation: pop-btn 0.3s linear forwards;
			}
		}
	}

	& .work__grid {
		opacity: 1;
		transform: translate(0, 0);
		transition: all 1.2s cubic-bezier(0.86, 0, 0.07, 1);
	}
	& .work__grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: auto;
		justify-items: center;
		align-items: center;
		gap: 2rem;
		max-width: 90%;
		overflow: visible;
		& a {
			text-decoration: none;
			width: 100%;
			display: flex;
		}

		& .project_container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			justify-items: center;
			align-items: center;
			& h2 {
				font-size: 3vw;
				padding: 1rem 0;
			}
			& .item {
				position: relative;
				padding: 0;
				margin: 0;
				overflow: visible;
				transition: all 0.3s ease-in-out;
				order: 1;
				& img {
					width: 100%;
				}
				&:hover {
					cursor: pointer;
				}
				&:before {
					content: 'View Site';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					color: #fff;
					background: rgba(64, 0, 130, 0.6);
					opacity: 0;
					transition: all 0.3s ease-in-out;
				}
				&:hover:before {
					opacity: 1;
					font-size: 3vw;
				}
			}
			& .left {
				order: 0;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.section {
		& .heading {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			& p {
				color: lighten($brand-main, 25%);
				font-size: 2rem;
				& span {
					color: $brand-accent;
					font-weight: 700;
				}
			}
			& button {
				display: none;
				visibility: hidden;
			}
		}
		& .work__grid {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			justify-items: center;
			align-items: flex-start;
			gap: 10rem;
			& .project_container {
				display: grid;
				grid-template-columns: 1fr;
				justify-items: center;
				align-items: center;
				& h2 {
					font-size: 2rem;
					padding: 1rem 0;
					border-bottom: 3px solid $brand-main;
					text-align: center;
				}
				& .item {
					position: relative;
					padding: 0;
					margin: 0;
					overflow: visible;
					transition: all 0.3s ease-in-out;
					order: 0;
				}
				& .left {
					order: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.section {
		& .work__grid {
			display: grid;
			grid-template-columns: 1fr;
			justify-items: center;
			align-items: flex-start;
			gap: 8rem;
			& .project_container {
				& h2 {
					font-size: 1.6rem;
					border-bottom: 0;
				}
				& .item {
					max-width: 90vw;
					& img {
						height: 100%;
						width: 100%;
					}
				}
			}
		}
	}
}
@keyframes pop-btn {
	0% {
		transform: scale(0.9);
	}
	90% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
